<div class="jumbotron text-center">
    <h1 class="display-3"></h1>
    <p class="lead">That entry has been made  </p>
    <a href="/form" class="btn btn-dark btn-lg">Enter another student</a>
    <a href="/formSearch" class="btn btn-dark btn-lg">Search For a student</a>
</div>